* { margin: 0; padding: 0; }

body {
	padding: 150px 40px;
	line-height: 1.4em;
	font-size: 16px;
}
body.jobs main, body.update main {
	margin-top: 70px;
}
body, input, button {
	font-family: Inconsolata, Consolas,
				 "Liberation Mono", "Menlo",
				 "Fira Mono", "Ubuntu Mono",
				 Monaco, courier, monospace;
}

body.team {
	margin: 0 auto;
	text-align: center;
}
body.team main {
	margin-top: 60px;
}
body.team ul {
	display: block;
	margin-bottom: 60px;
}
body.team li {
	display: block;
	text-align: center;
}
body.team li::before {
	content: none;
}

body.page main {
	margin-top: 45px;
}
body.page h1 {
	text-decoration: none !important;
	line-height: 1.2em;
}

main {
	margin: 0 auto;
	max-width: 640px;
}

h1, h2, h3, h4, h5 h6 {
	font-weight: normal;
	text-decoration: underline;
	margin-bottom: 1em;
}

.title {
	display: block;
	text-align: center;
	font-size: 2.2em;
	font-family: courier, monospace;
	letter-spacing: 0.95em;
	padding-left: 0px;
	padding-bottom: 20px;
}

body.update .title {
	line-height: 1.5em;
}

a[rel="footnote"] {
	margin-left: 0.2em;
}
a[rel="footnote"]::before {
	content: "[";
}
a[rel="footnote"]::after {
	content: "]";
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a, a:visited {
	color: #0000ff;
}

sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

.footnotes {
	margin-top: 30px;
}
.footnotes ol {
	padding-top: 10px;
}
.footnotes, footer {
	font-size: 0.9em;
}

main > p {
	margin: 1em 0;
	word-break: keep-all;
}

address {
	font-style: normal;
	color: #888;
	text-align: center;
}

hr {
	display: block;
	border: none;
	border-top: 1px dashed #ccc;
	margin: 2em 5%;
	text-align: center;
}

blockquote {
  margin: 1.5em 0;
  padding: 0.5em 45px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
cite, blockquote {
  color: #666;
}
blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 2em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
cite {
	margin-top: 10px;
	font-style: italic;
	display: block;
	text-align: right;
	margin-right: 30px;
}

nav {
	position: absolute;
	top: 0;
	right: 10px;
	text-align: center;
	padding: 15px;
}
nav ul {
	display: block;
}
nav li {
	display: inline-block;
	margin-right: 30px;
}
nav li:last-child {
	margin-right: 0;
}

main ul, main ol {
	display: table;
	margin-left: 1rem;
	list-style-position: inside;
}
main li {
	display: table-row;
	counter-increment: table-ol;
}
main li::before {
	content: "•";
	display: table-cell;
	padding-right: 10px;
	text-align: right;
}
main ol li::before {
	content: counter(table-ol) ".";
	padding-right: 5px;
	word-break: keep-all;
}

form {
	text-align: center;
}
input {
	padding: 3px 5px;
}
button {
	padding: 3px 10px;
}
input:focus {
	outline: none;
}

footer {
	text-align: center;
	padding-bottom: 360px;
}
.updates {
	text-align: center;
}
.updates li {
	list-style-type: none;
}

@media screen and (max-width: 480px) {
	body {
		font-size: 15px;
		padding-top: 90px;
		padding-left: 20px;
		padding-right: 20px;
		word-wrap: break-word;
		overflow-wrap: break-word;
		word-break: break-word;
	}
	nav {
		right: 10px;
		left: 10px;
		padding-left: 0;
		padding-right: 0;
		padding-top: 10px;
	}
	nav li {
		margin-right: 5px;
	}
	nav li:last-child {
		margin-right: 0;
	}
	.title {
		font-size: 7vw;
	}
	blockquote {
	  padding: 0.5em 0;
	}
}
