/* purgecss start ignore */
@import 'tailwindcss/base';
/* purgecss end ignore */

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.link,
a {
  @apply text-blue-600;
}

.button {
  position: absolute;
  width: 112.57px;
  height: 20px;
  left: 99px;
  top: 188px;
}
