<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>oscoin</title>
  </head>
  <body>
    <header>
      <span class="title">oscoin</span>
      <nav>
      </nav>
    </header>
    <main>
      <%= body %>
    </main>
    <hr />
    <footer>
      &#x1f449;&nbsp;<a href="/subscribe.html">subscribe</a>
    </footer>
  </body>
</html>
