<nav>
  <ul>
    <li><a href="/radicle.html" class="radicle">radicle</a></li>
    <li><a href="/team.html" class="team">team</a></li>
    <li><a href="/motivation.html" class="motivation">motivation</a></li>
    <li><a href="/updates/" class="updates">updates</a></li>
  </ul>
</nav>
