<nav>
  <ul>
    <li><a href="/oscoin.pdf" class="whitepaper">whitepaper</a></li>
    <li><a href="/faq.html" class="faq">faq</a></li>
    <li><a href="/updates/" class="updates">updates</a></li>
    <li><a href="/team.html" class="team">team</a></li>
    <li><a href="https://twitter.com/oscoin" class="twitter">twitter</a></li>
  </ul>
</nav>
