<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css?2">
    <title>oscoin/<%= name %></title>
  </head>
  <body class="page <%= name %>">
    <nav>
      <ul>
        <li>&#x1f448;&nbsp;<a href="/">Home</a></li>
        <li>&#x1f447;&nbsp;<a href="#updates">updates</a></li>
        <li><a href="https://twitter.com/oscoin" target="_blank">@oscoin</a></li>
        <li><a href="http://t.me/oscoin" target="_blank">t.me/oscoin</a></li>
        <li><a href="/team.html">team</a></li>
        <li><a href="/motivation.html">motivation</a></li>
      </ul>
    </nav>
    <main>
      <%= body %>
    </main>
    <a name="updates"></a>
    <hr />
	<ul class="updates">
	  <li>03/05/2018 &middot; <a href="/updates/2.html">May update</a></li>
	  <li>06/02/2018 &middot; <a href="/updates/1.html">February update</a></li>
	</ul>
    <hr />
    <footer>
      &#x1f449;&nbsp;<a href="/subscribe.html">subscribe</a>
    </footer>
  </body>
</html>
