<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>oscoin/updates/<%= n %></title>
  </head>
  <body class="<%= name %>">
  <header>
  <a href="/" class="logo">open source coin</a>
  <nav>
    <ul>
      <li><a href="#updates" class="updates">updates</a></li>
      <li><a href="/team.html" class="team">team</a></li>
      <li><a href="/motivation.html" class="motivation">motivation</a></li>
    </ul>
  </nav>
</header>
    <span class="title">/updates</span>
    <main>
      <%= body %>
    </main>
    <a name="updates"></a>
    <hr />
	<ul class="updates">
	  <li>03/05/2018 &middot; <a href="/updates/2.html">May update</a></li>
	  <li>06/02/2018 &middot; <a href="/updates/1.html">February update</a></li>
	</ul>
    <hr />
    <footer>
      <ul>
        <li><a href="https://twitter.com/oscoin" target="_blank" class="twitter">twitter</a></li>
        <li><a href="http://t.me/oscoin" target="_blank" class="telegram">telegram</a></li>
        <li><a href="/subscribe.html" class="newsletter">newsletter</a></li>
      </ul>
    </footer>
  </body>
</html>
