// global styles

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  height: 100%;
  font-family: "FoundersGroteskMono", courier, monospace;
  font-size: 16px;
  line-height: 24px;
  margin: 24px auto;
  max-width: 960px;
  padding: 24px;
  padding-bottom: 96px;
}

h1 {
  color: $green;
}

a {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid black;
  }
}
