@font-face {
  font-family: "FoundersGroteskMono";
  src: url("../fonts/FoundersGroteskMonoWeb-Regular.woff2") format("woff2"),
}

@font-face {
  font-family: "FoundersGrotesk";
  src: url("../fonts/FoundersGrotesk-Semibold.woff") format("woff"),
}

// Type scale //

h1,
h2,
h3,
h4 {
  font-family: 'FoundersGrotesk', helvetica, arial, sans-serif;

}

h1 {
  font-size: 96px;
  line-height: 80px;
  padding: 96px 0 64px;
}

h2 {
  font-size: 38px;
  line-height: 45px;
  padding: 72px 0 24px;
}

h3 {
  font-size: 28px;
  line-height: 33px;
  padding: 96px 0 32px;
}

h4 {
  font-size: 21px;
  line-height: 25px;
}


p {
  font-size: 16px;
  line-height: 24px;
}

li {
  list-style-type: disc;
}
