// Specific styles.

@import "reset";
@import "colors";
@import "typography";
@import "global";

//header

header {
  display: flex;
  justify-content: space-between;

  .logo:hover {
    border-bottom: none;
  }

  nav {
    a {
      margin-left: 36px;
    }
  }
}

.specs {
  li {
    list-style: none;
    margin-bottom: 24px;

    h4 {
      font-family: "FoundersGroteskMono", courier, monospace;
    }
  }
}


//Lecturer
.lecturers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px 24px;
}

.lecturer {
  display: flex;
  flex-direction: row;

  p {
    margin: 8px 0 24px;
  }

  img.avatar {
    height: 64px;
    width: 64px;
    margin-right: 16px;
  }

  img.lecture-logo {
    width: 200px;
    // max-height: 72px;
  }

}

// syllabus

table {
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 0.5em 1em;

  &:nth-child(1) {
    font-weight: bold;
    padding: 0.5em 1em .5em 0;
  }

  &:nth-child(3) {
    white-space: nowrap;
    text-align: right;
    padding: 0.5em 0 .5em 1em;
  }
}
