// Specific styles.

@import "reset";
@import "colors";
@import "typography";
@import "global";

//header

header {
  display: flex;
  justify-content: space-between;

  @media (max-width: 800px) {
    flex-direction: column;
  }

  .logo {
    height: 80px;
    width: 70px;

    &:hover {
      border-bottom: none;
    }

    @media (max-width: 800px) {
      margin: 0 auto 24px;

    }
  }

  nav {
    display: flex;
    height: 40px;
    align-items: center;

    a {
      margin: 0 12px;

      &.button {
        padding: 10px 18px 12px;
        background-color: $green;
        color: white;
        border-radius: 2px;
        cursor: pointer;

        &:hover {
          border-bottom: 0;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
        }

        &:active {
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        }
      }
    }

    @media (max-width: 800px) {
      flex-direction: column;
      margin: 0 auto 24px;

      .button {
        display: flex;
        margin-top: 24px;
        width: 100%;
        justify-content: center;
      }
    }
  }
}

.specs {
  li {
    list-style: none;
    margin-bottom: 24px;

    h4 {
      font-family: "FoundersGroteskMono", courier, monospace;
    }
  }
}


//Lecturer
.lecturers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px 24px;
}

.lecturer {
  display: flex;
  flex-direction: row;

  p {
    margin: 8px 0 24px;
  }

  img.avatar {
    height: 64px;
    width: 64px;
    margin-right: 16px;
  }

  img.lecture-logo {
    width: 200px;
    // max-height: 72px;
  }

}

// syllabus

table {
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 0.5em 1em;

  &:nth-child(1) {
    font-weight: bold;
    padding: 0.5em 1em .5em 0;
  }

  &:nth-child(3) {
    white-space: nowrap;
    text-align: right;
    padding: 0.5em 0 .5em 1em;
  }
}
